<!DOCTYPE html>
<html lang="en">

<head>
<title>GreenGoods</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../bfront/css/bootstrap.min.css">

</head>
<link rel="stylesheet" type="text/css" href="../../bfront/css/style.css">
<link rel="stylesheet" href="../../bfront/css/baguetteBox.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../../bfront/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #79C000;">
  <a class="navbar-brand" href="#">GreenGoods Shop</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <div class="search-trans">
            <input type="text" placeholder="Let's find something..."/>
        </div>
      </li>
    </ul>

  </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="badge badge-pill badge-danger" style="float:right;margin-bottom:-10px;">1</span>
            <a class="nav-link" href="#">
              <i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i>
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <span class="badge badge-pill badge-danger" style="float:right;margin-bottom:-10px;">3</span>
            <a class="nav-link" href="#">
              <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
          </li>


      </ul>
  </div>
</nav>
<!-- End Of Navbar -->

<!-- Header -->
<div class="row">
<div class="col-3 col-md-2">
<!-- Sidebar Menu -->
  <div class="container-fluid">
    <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Menu
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li class="dropdown-submenu dropdown-menu-right">
        <a tabindex="-1" href="#">More options</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">Second level</a></li>
          <li class="dropdown-submenu">
            <a href="#">More..</a>
            <ul class="dropdown-menu">
                <li><a href="#">3rd level</a></li>
                <li><a href="#">3rd level</a></li>
            </ul>
          </li>
          <li><a href="#">Second level</a></li>
          <li><a href="#">Second level</a></li>
        </ul>
      </li>
        <li><a href="#">Something else here</a></li>
    </ul>
    </div>
  </div>
<!-- End of Sidebar Menu -->
</div>
<div class="col-9 col-md-10">
<section class="gallery-block compact-gallery">
  <div class="container">

    <div class="row no-gutters">
      <div class="col-12 col-md-8 item zoom-on-hover">
        <a class="lightbox" href="#">
          <img class="img-fluid image" src="../../bfront/images/lemongrass.jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>


      <div class="col-md-6 col-lg-4 item zoom-on-hover">
        <a class="lightbox" href="../../bfront/images/eggplant.jpg">
          <img class="img-fluid image" src="../../bfront/images/eggplant.jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>


      <div class="col-md-6 col-lg-4 item zoom-on-hover">
        <a class="lightbox" href="../../bfront/images/cherrytomatoes.jpg">
          <img class="img-fluid image" src="../../bfront/images/cherrytomatoes.jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 item zoom-on-hover">
        <a class="lightbox" href="../../bfront/images/cherrytomatoes.jpg">
          <img class="img-fluid image" src="../../bfront/images/cherrytomatoes.jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 item zoom-on-hover">
        <a class="lightbox" href="../../bfront/images/cherrytomatoes.jpg">
          <img class="img-fluid image" src="../../bfront/images/cherrytomatoes.jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>

    </div>
  </div>
</section>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!-- <script>
    baguetteBox.run('.compact-gallery',{animation:'slideIn'});
</script> -->
<!-- End of Header -->


</header>
